:root {
    --bg-blue: rgb(55,118,187);
}

* {
    color: #555;
}

/* MODIFICADORES */
.primary, .badge-primary {
    background-color: var(--bg-blue) !important;
}
.text-primary {
    color: var(--bg-blue) !important;
}

body {
    background-color: #F0F0F0;
}

h1, h2, h3, h4, a {
    color: #3776BB;
}

table {
    background-color: #FFF !important;
}
th {
    background-color: #AAA;
    color: #FFF;
}
td, th {
    font-size: 14px;
}

button.btn {
    background-color: var(--bg-blue) !important;
}
button.btn:hover {
    opacity: 0.85;
}

.page-item.active > span {
    background-color: #3776BB !important;
    border-color: #3776BB !important;
}
.page-link {
    color: #3776BB;
}