section {
    padding: 20px;
}

section header {
    margin-bottom: 10px;
}

section header button {
    float: right;
    margin-top: -10px;
}

button i {
    margin: 0px 8px 1px 0px;
    float: left;
    color: #FFF;
}
button i.padless {
    margin: 0px 1px 1px 0px;
}
button span {
    margin: 0px 4px 0px 0px;
    float: left;
    color: #FFF;
}

section footer ul.pagination {
    justify-content: center;
}